header {
    background-color: black;
    color: white;
    padding: 0.5em 0 0.5em 0;
    outline: 8px solid black;
    margin-bottom: 16px;
}

header > h2 {
    display: inline;
    margin: 1em 1em 1em 0;
}

header > h2:last-child {
    margin: 1em 0 1em 0;
}

header > h2 > a {
    color: white;
}

header > h2 > a.current {
    font-weight: bold;
}