@model LinesViewModel

<form asp-action="Lines" method="get">
    <table>
        <tr>
            <td><label asp-for="Query"></label></td>
            <td><input asp-for="Query"/></td>
            <td><span asp-validation-for="Query"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Page"></label></td>
            <td><input asp-for="Page"/></td>
            <td><span asp-validation-for="Page"></span></td>
        </tr>
        <tr>
            <td><label asp-for="ItemsPerPage"></label></td>
            <td><input asp-for="ItemsPerPage"/></td>
            <td><span asp-validation-for="ItemsPerPage"></span></td>
        </tr>
        @for (int i = 0; i < Model.TrafficTypes.Count; i++) {
            <tr>
                @{ int i1 = i; }
                <td><label asp-for="@Model.TrafficTypes[i].Checked">@Model.TrafficTypes[i].Text</label></td>
                <td><input asp-for="@Model.TrafficTypes[i].Checked"/></td>
            </tr>
        }
    </table>
    <button type="submit">Search</button>
</form>