@model ErrorViewModel
@{
   Model.Title = "Error";
}

<h2>An error occured.</h2>
<table>
    <tr>
        <td>Request ID</td>
        <td>@Model.RequestId</td>
    </tr>
    <tr>
        <td>Message</td>
        <td>@Model.Message</td>
    </tr>
</table>